{% extends 'Crud/base.html' %}
{% load static %}
{% block content %}
<div class="container  text-center my-3">
    <h2>About Us</h2>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/300x300/?javascript, html, css" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Designer</h5>
            <p class="card-text">I am a Software Designer. I know HTML,CSS,JavaScript(React.js). I have 1.5 years
              example in software design.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/300x300/?javascript,python" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">I am a software Developer. In software development I use JavaScript(React.js) and
              Python(Django).</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/300x300/?code,python" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Software Engineer</h5>
            <p class="card-text">I am a software Engineer. In software Engineering I use JavaScript(React.js) and
              Python(Django), Git.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}